@import url(reset.css);

body {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  background-color:#F8F8F8;
}
.wrapper {
  margin: 0 auto;
  max-width: 1320px;
  padding-inline: 15px;

}

/* ================= Header ====================== */
.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 15px;
} 
.about-us__list {
  display: flex;
  gap: 30px;
}
.header__contacts {
  display: flex;  
  align-items: center;
}
.contacts__list {
  display: flex;

  gap: 10px;
  margin-right: 20px;
}
.help__box{
  display: flex;
  align-items: center;
}
.language__list{
  position: relative;
  padding-right: 25px;
}
.language__list > .list__item:not(:first-child) {
 display: none;
}
.language__list > .list__item::before {
position: absolute;
content: "";
top: -5px;
left: 25px;
width: 24px;
height: 24px;
background-image: url(../img/icons/arrow.svg)  ;
 }
.contacts__text{
  margin-right: 20px;
}
.bottom-side-wrapper{
  background-color: #fff;
}
.main-logo{
  min-width: 250px;
}
.catalog__button{
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  align-items: center;
  padding:  11px 20px;
  min-width: 145px;
  background-color: #FFBC57;
  color: #fff;
  border-radius: 8px;
}
.search{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-block: 15px;
  background-color: #fff;
  border: 1px solid white;
}
.call-us {
 display: flex;
}
.call-us__box{
  display: flex;
  flex-direction: column;
}
.selected-box{
  display: flex;
  gap: 20px;
}
.categories{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-block: 18px;
  background-color: #fff;
}
.categories__left-list{
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
}
.categories__rigth-list{  
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
}