@import url(reset.css);

body {
  font-family: "Proxima Nova", sans-serif;
  color: #2B2929;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.2; 
  background-color:#F8F8F8;
}
.wrapper {
  margin: 0 auto;
  max-width: 1320px;
  padding-inline: 15px;
}
.section{
  padding-block-start: 70px;
 }
.section__title{
  color:#2B2929;
  font-size: 40px;
  font-weight: 600;
}
/* ================= Header ====================== */
.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 15px;
  font-size: 16px;
line-height: 1.8;
} 
.about-us__list {
  display: flex;
  gap: 30px;
}
.header__contacts {
  display: flex;  
  align-items: center;
}
.contacts__list {
  display: flex;

  gap: 10px;
  margin-right: 20px;
}
.help__box{
  display: flex;
  align-items: center;
}
.language__list{
  position: relative;
  padding-right: 25px;
}
.language__list > .list__item:not(:first-child) {
 display: none;
}
.language__list > .list__item::before {
position: absolute;
content: "";
top: 0px;
left: 25px;
width: 24px;
height: 24px;
background-image: url(../img/icons/arrow.svg)  ;
 }
.contacts__text{
  margin-right: 20px;
}
.bottom-side-wrapper{
  background-color: #fff;
}
.main-logo{
  min-width: 250px;
}
.catalog__button{
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  align-items: center;
  padding:  11px 20px;
  min-width: 145px;
  background-color: #FFBC57;
  font-size: 19px;
font-style: normal;
font-weight: 600;
line-height: 24px; 
  color: #fff;
  border-radius: 8px;
}
.search{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-block: 15px;
  background-color: #fff;
  border: 1px solid white;
}
.categories{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-block: 18px;
  background-color: #fff;
  color: #535353;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
}
.categories__left-list{
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
}
.categories__rigth-list{  
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
}
.input__area{
  position: relative;
  width: 420px;
  height: 50px;
  border: 1px solid #B1B1B1;
  border-radius: 8px;
  color: var(--Theme-Grey-light, #B1B1B1);
font-size: 16px;
font-weight: 400;
line-height: 1.87;
padding: 10px 15px ;
}  
.input__area::before{
  position: absolute;
  top: 13px;
  right: 15px;
  content: "";
  width: 24px;  
  height: 24px;
  background: url(../img/icons/search.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.call-us{
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  min-width: 230px;
  gap: 10px;

}
.call-us__icon{
  width: 50px;
  height: 50px;
}
.call-us__box{
  display: flex;
  text-align: left;
  flex-direction: column;
  flex-wrap: nowrap;
}
.call-us__arrow{
  margin-top: 10px;
  width: 24px;
  height: 24px;
}
.call-us__schedule{
font-size: 13px;
font-style: normal;
font-weight: 300;
line-height: 1.6;
}

.call-us__phone{
color:  #2B2929;
font-size: 20px;
font-weight: 600;
line-height: 1.4;
}
.selected-box{
  display: flex;
  gap: 20px;
}

.categories__left-list > .list__item{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}
.categories__left-list,
.categories__rigth-list{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 40px;
}
/* ===========popular categories ======== */
.popular-categories__list{
  display: flex;
  flex-wrap: wrap;
  gap: 24px 10px;
}
.products__list{
  display: flex;
  flex-wrap: wrap;
}
.list-category__item{
  background-color: #fff;
  border-radius: 8px;
}
.category-card{
  position: relative;
  max-width: 250px;
  background-image: url(../img/icons/category_card_bg.svg);
  background-size: contain;
  background-repeat: no-repeat;  
  background-position: bottom;
}
.category-card__name {
  color:  #2B2929;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.category-card__products-counter {
  color: #B1B1B1;
text-align: right;
font-size: 20px;
font-weight: 600;
line-height: 1.4;
}
.category-card___top-side{
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
align-items: center;
margin: 20px 20px 0px 20px;
}
.category-card__button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: url(../img/icons/card-button-arrow.svg);
  width: 50px;
  height: 50px;
}
/* =========== popular products ========= */
.products__list{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.products__item{
  max-width: 300px;
  padding: 20px;
  height:fit-content;
  border-radius: 8px;
border: 1px solid #E3E2E2;
background: #FFF;
box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
}
.product-card{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  min-height: 470px;
}
.product-card__description{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-grow: 2;
  gap: 10px;
}
.product-card__size{
  color:  #535353;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.6;
}
.product-card__title{
  display: inline-block;
  font-weight: 600;
}
.product-card__exist{
  display: inline-block;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.6;
}
.product-card__exist::before{
  content: "";
  background: url(../img/icons/check-green.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.product-card__buy{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.product-card__cost{
  display: inline-block;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.6;
}
.cost__previous{
  color: #E03D3D;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4; 
  text-decoration: line-through;
}
.cost__actual{
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
}
.product-card__icon-box{
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}
.product-card__pic{
  max-width: 260px;
}

.section__top{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 40px;
  gap: 30px;
}
.sale__list{
  max-width: 410px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 30px;
}
/* =============== footer ================ */

.footer{
  min-height: 50px;

}