@import url(reset.css);

body {
  font-family: "Proxima Nova", sans-serif;
  color: #2B2929;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.2;
  background-color: #F8F8F8;
}

.wrapper {
  margin: 0 auto;
  max-width: 1320px;
  padding-inline: 15px;
}

/* =============== footer ================ */

.footer {
  min-height: 50px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-basis: 740px;
  border-radius: 8px;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
}

.form__section:not(:first-child) {
  margin-top: 30px;
}

.general__box {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}

.header {
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.header__icon {
  max-width: 60px;
}

.form-header__title {
  color: #2B2929;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.3;
}

.buyer__input {
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #D1D5D5;
  color: #535353;
  font-size: 16px;
  line-height: 1.8;
}

.buyer__input:focus-visible,
.buyer__input:hover {
  transition: all 0.8ms;
  outline: 2px solid #FFBC57;
}


.buyer__name,
.buyer__contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-basis: 325px;
}

.general__checkbox {
  display: inline-block;
}

.checkbox__text {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-basis: content;
  color: #535353;
  font-size: 16px;
  line-height: 1.8;
  cursor: pointer;
  gap: 10px;
  margin-top: 20px;
}

.checkbox__general {
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__general:focus-visible+.checkbox__text {
  outline: 1px solid #FFBC57;
  outline-offset: 5px;
}

.checkbox__general:checked+.checkbox__text::before {
  border: 1px solid #FFBC57;
  background-image: url(../img/icons/icon-check-circle.svg);
  background-size: 165%;
  background-position: center;
}

.checkbox__text::before {
  content: "";
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #D1D5D5;
  border-radius: 2px;
}

/* ============= delivery ============= */
.delivery__methods {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 25px;
  flex-grow: 1;
  flex-shrink: 1;
}

.delivery__checkbox {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 1;
}


.delivery__lable {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 210px;
  padding: 20px;
  border-radius: 8px;
  border: 3px solid #F8F8F8;
  background: #FFF;
  color: #2B2929;
  font-size: 16px;
  line-height: 1.87;
}

.delivery__pic {
  width: 40px;
  height: 40px;
}

.delivery__checkbox:hover,
.delivery__lable:hover {
  cursor: pointer;
  border-color: #FFBC57;

}

.delivery__input {
  width: 0;
  height: 0;
  opacity: 0;
}

.delivery__input:focus-visible+.delivery__lable {
  border-color: #FFBC57;
}

.delivery__input:checked+.delivery__lable {
  border-color: #FFBC57;
}

.delivery__lable::before {
  visibility: hidden;
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  background-image: url(../img/icons/icon-check-circle.svg);
}

.delivery__input:checked+.delivery__lable>.delivery__pic {
  visibility: hidden;
}

.delivery__input:checked+.delivery__lable::before {
  visibility: visible;
}

.delivery__price {
  display: inline-block;
  color: #535353;
  text-align: center;
  font-size: 15px;
  line-height: 1.46;
}

.delivery__address {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 30px;
  border-radius: 8px;
  padding: 20px;
  background-color: #F8F8F8;
}

.address__description {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  flex-grow: 1;
  flex-shrink: 1;
}


.address__schedule {
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.87;
}

.address__street {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.40;
}

.address__map {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding-block: 13px;
  padding-inline: 20px;
  background: #FFBC57;
  gap: 10px;
  align-items: center;
}

.map__text {
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  color: #FFF;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
}

/* ======================pay==================== */
.pay__checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}



.pay__list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 25px;

}

.pay__input {
  width: 0;
  height: 0;
  opacity: 0;
}

.pay__lable {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  color: #2B2929;
  font-size: 17px;
  line-height: 1.41;

}

.pay__lable:hover {
  cursor: pointer;
}

.pay__checkbox:focus+.pay__lable:before {
  border: 2px solid #FFBC57;
  border-radius: 50%;
}

.pay__input:focus-visible+.pay__lable:before {
  border: 2px solid #FFBC57;
  border-radius: 50%;
}

.pay__input:checked+.pay__lable::before {
  border: 2px solid #FFBC57;
  background-image: url(../img/icons/icon-check-circle.svg);
  background-size: 165%;
  border-radius: 50%;
  background-position: center;
}

.pay__lable::before {
  content: "";
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #D1D5D5;
  border-radius: 50%;
}

/* ========== comment__textarea ========== */

.comment__textarea {
  display: block;
  resize: none;
  width: 100%;
  padding-block: 10px;
  padding-inline: 20px;
  min-height: 150px;
  border-radius: 8px;
  border: 1px solid #D1D5D5;
  background: #FFF;
  color: #535353;
  font-size: 16px;
  line-height: 1.87;
}

.comment__textarea:focus-visible {
  transition: all 0.8ms;
  outline: 2px solid #FFBC57;
}

/* ========== submit  ========== */
.submit {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
}

.submit__btn {
  flex-basis: 460px;
  background-color: #FFBC57;
  display: inline-block;
  color: #FFF;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
  padding-block: 8px;
  padding-inline: 30px;
  border-radius: 8px;
}